<p-card>
  <div class="Idea">
    <div class="Idea-header">
      <div class="Idea-votes">
        <a (click)="onUpvote.emit()"><i class="fa fa-angle-up"></i></a>
        {{ idea.upvotes - idea.downvotes }}
        <a (click)="onDownvote.emit()"><i class="fa fa-angle-down"></i></a>
      </div>

      <h2 [routerLink]="['/ideas', idea.id]">{{ idea.idea }}</h2>
    </div>

    <div class="Idea-options" *ngIf="displayOptions">
      <button
        pButton
        [routerLink]="['/ideas', idea.id, 'edit']"
        icon="fa fa-plus"
        class="ui-button-info"
      ></button>
      <button
        pButton
        (click)="onDelete.emit()"
        icon="fa fa-times"
        class="ui-button-danger"
      ></button>
    </div>
  </div>
  <p class="Idea-description">{{ idea.description }}</p>

  <div class="Idea-footer">
    <p>
      Created by <a>{{ idea.author?.username }}</a> on {{ idea.created | date }}
    </p>
    <p>
      <a [routerLink]="['/ideas', idea.id]"
        >comments: ({{ idea.comments?.length || 0 }})</a
      >
    </p>
  </div>
</p-card>
