p-card {
  margin: 1rem;
}

.Idea {
  display: flex;
  justify-content: space-between;

  &-header {
    display: flex;
    flex-direction: row;
    h2 {
      margin-left: 1rem;
    }
  }
  &-votes {
    display: flex;
    flex-direction: column;
    font-size: 1rem;
    align-items: center;
    i {
      font-size: 1.5rem;
    }
  }
  &-options {
    button {
      margin-left: 1rem;
    }
  }
  &-description {
    margin-bottom: 0.5rem;
  }
  &-footer {
    display: flex;
    justify-content: space-between;
  }
}
