<div *ngIf="idea">
  <app-idea
    [idea]="idea"
    [displayOptions]="idea.author.id === currentUser?.id"
  ></app-idea>

  <button
    *ngIf="!showForm"
    pButton
    label="Add Comment"
    class="ui-button-info Comment-button"
    (click)="showForm = !showForm"
  ></button>
  <form *ngIf="showForm" class="Comment-form" (ngSubmit)="submit()">
    <textarea
      pInputTextarea
      rows="5"
      name="comment"
      placeholder="Enter comment here..."
      [(ngModel)]="comment"
    ></textarea>

    <div class="Comment-form-buttons">
      <button
        pButton
        type="button"
        label="Cancel"
        class="ui-button-danger"
        (click)="showForm = !showForm"
      ></button>
      <button
        pButton
        type="submit"
        label="Save"
        class="ui-button-info"
      ></button>
    </div>
  </form>

  <p-card *ngFor="let comment of idea?.comments">{{ comment.comment }}</p-card>
</div>
