<div class="AuthCard">
  <p-card>
      <div class="AuthCard-form">
        <div class="ui-inputgroup">
          <span class="ui-inputgroup-addon"><i class="fa fa-user"></i></span>
          <input type="text" pInputText placeholder="username">
        </div>
    
        <div class="ui-inputgroup">
          <span class="ui-inputgroup-addon"><i class="fa fa-key"></i></span>
          <input type="password" pInputText placeholder="password">
        </div>
      </div>

      <button class="AuthCard-button" type="button" pButton label="Submit"></button>
    </p-card>
</div>