<div class="AuthCard">
  <p-card>
    <form *ngIf="!loading" [formGroup]="authForm" (ngSubmit)="auth('login')">
      <div class="AuthCard-form">
        <div class="ui-inputgroup">
          <span class="ui-inputgroup-addon"><i class="fa fa-user"></i></span>
          <input type="text" formControlName="username" pInputText placeholder="username">
        </div>
    
        <div class="ui-inputgroup">
          <span class="ui-inputgroup-addon"><i class="fa fa-key"></i></span>
          <input type="password" formControlName="password" pInputText placeholder="password">
        </div>
      </div>

      <div class="AuthCard-buttons">
        <button class="ui-button-info" type="button" pButton label="Register" [disabled]="authForm.invalid" (click)="auth('register')"></button>
        <button type="submit" pButton label="Login" [disabled]="authForm.invalid"></button>
      </div>
    </form>

    <div class="AuthCard-loader">
      <p-progressSpinner *ngIf="loading"></p-progressSpinner>
    </div>
  </p-card>
</div>