p-card {
  margin: 1rem;
}

h2 {
  margin-top: 0;
}

.UserCard {
  &-info {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }

  &-links {
    a {
      margin-right: 2rem;
    }
  }
}

.User-options {
  margin-top: 1rem;
  display: flex;
  justify-content: space-between;
}
